body * {
  font-family: verdana;
}

.App {
  text-align: center;
  height: 100vh;
}

.root {
  height: 100vh;
}

.App-logo {
  height: 65vmin;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

#tagline{
  /* height: 15vh; */
  position: absolute;
  max-width: 50vw;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 2vmax;
  color: #ABABAB;

}

a:link {
  color: #A56717;
  text-decoration: none;
}



/* tagline-container, class is tagline? */
#tagline * {
  margin-top: 0;
}

.App-header {
  background-color: #1C1C20;
  /* background-color: #245FB0; */
  /* background-color: rgb(0, 128, 153); */
/*   background-color: #2D873D;
 */  /* background-color: #7CEB47; */
  height: 70vh;
  /* 40vh? */
  /* padding: 20px; */
  position: relative;
  overflow: scroll;
/*   background-image: url("board-electronics-computer-data-processing-50711.jpeg");
  background-size: cover;
  background-position: 0 50%; */
  /* background-repeat: no-repeat; */

}

/* frontcontent */
.App-header > * {
  display: inline-block;
}



.App-intro {
  font-size: large;
}

#square-space{
  height: 100vh;
  width: 100vw;
}

.square{
  display: inline-block;
  height: 15%;
  width: 50%;
  vertical-align: bottom;
  /* background-color: #B14F00; */
  box-sizing: border-box;
  background-color: #A56717
  /* background-color: #0F0F94; */
  /* background-color: rgb(0, 128, 228); */
  /* background-color: #B1443B; */

}

/* corners */
.square h2 {
  position: relative;
  top: 25%;
  transform: translateY(-25%);
}

#square-space > .square:nth-child(-n+2){
  border-bottom: black solid 1px;
}

#square-space > .square:nth-child(n+4){
  border-top: black solid 1px;
}

#square-space > .square:nth-child(3n+1){
  border-right: black solid 1px;
}

#square-space > .square:nth-child(3n+2){
  border-left: black solid 1px;
}

#big-square {
  height: 70vh;
  /* padding: 20px; */
  overflow: scroll;
  background-color: #1C1C20;
}

/* text */
#big-square *{
  font-size: 14pt;
  line-height: 2em;
  color: #ABABAB;
}

/* header */
#big-square .big-header {
  font-size: 22pt;
}

/* containers */
#big-square > div {
  width: 50%;
  margin: 0 auto;
}

/* projectsscreens */
#big-square img {
  width: 40vw;
  height: 50vh;
  margin: 0 auto;
}

/* backbutton */
#back-button {
  display: inline;
  background: none;
  border: none;
  font-size: 15pt;
  font-weight: bold;
  /* make bold and bigger */
}



