body * {
  font-family: verdana;
}

.App {
  text-align: center;
  height: 100vh;
}

.root {
  height: 100vh;
}

.App-logo {
  height: 65vmin;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

#tagline{
  /* height: 15vh; */
  position: absolute;
  max-width: 50vw;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 2vmax;
}

/* tagline-container, class is tagline? */
#tagline * {
  margin-top: 0;
}

.App-header {
  /* background-color: rgb(0, 128, 128); */
  background-color: #2D873D;
  /* background-color: #7CEB47; */
  height: 70vh;
  /* 40vh? */
  /* padding: 20px; */
  position: relative;
  overflow: scroll;

}

/* frontcontent */
.App-header > * {
  display: inline-block;
}



.App-intro {
  font-size: large;
}

#square-space{
  height: 100vh;
  width: 100vw;
}

.square{
  display: inline-block;
  height: 15%;
  width: 50%;
  vertical-align: bottom;
  background-color: #B14F00;
  box-sizing: border-box;


  /* B1443B */
  /* background-color: rgb(0, 204, 153); */
}

/* corners */
.square h2 {
  position: relative;
  top: 25%;
  transform: translateY(-25%);
}

#square-space > .square:nth-child(-n+2){
  border-bottom: black solid 1px;
}

#square-space > .square:nth-child(n+4){
  border-top: black solid 1px;
}

#square-space > .square:nth-child(3n+1){
  border-right: black solid 1px;
}

#square-space > .square:nth-child(3n+2){
  border-left: black solid 1px;
}

#big-square {
  height: 70vh;
  /* padding: 20px; */
  overflow: scroll;
  background-color: #2D873D;
}

/* text */
#big-square *{
  font-size: 14pt;
  line-height: 2em;
}

/* header */
#big-square .big-header {
  font-size: 22pt;
}

/* containers */
#big-square > div {
  width: 50%;
  margin: 0 auto;
}

/* projectsscreens */
#big-square img {
  width: 40vw;
  height: 50vh;
  margin: 0 auto;
}

/* backbutton */
button {
  display: inline;
  background: none;
  border: none;
}

